---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"newcompany_y_1504254245@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":533094495,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254246405","timestamp":1504254246405,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254246405","timestamp":1504254246405,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"newcompany_y_1504254245@hsgem.com","timestamp":1504254246405,"source":"API","sourceId":null,"versions":[{"name":"name","value":"newcompany_y_1504254245@hsgem.com","timestamp":1504254246405,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504254246405","timestamp":1504254246405,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254246405","timestamp":1504254246405,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:05 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":533094495,"properties":[{"name":"y35lghfa7o45tyglbu","value":"new_name"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Property values were not valid","correlationId":"8d6e7d3f-a8d4-447f-918f-b4cdd2195704","validationResults":[{"isValid":false,"message":"Property
        \"y35lghfa7o45tyglbu\" does not exist","error":"PROPERTY_DOESNT_EXIST","name":"y35lghfa7o45tyglbu"}],"requestId":"0a824da98e56372d09d8b736630556e3"}'
  recorded_at: Fri, 01 Sep 2017 08:24:05 GMT
recorded_with: VCR 2.4.0
