---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"newcompany_y_1504254241@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":532989674,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254243288","timestamp":1504254243288,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254243288","timestamp":1504254243288,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"newcompany_y_1504254241@hsgem.com","timestamp":1504254243288,"source":"API","sourceId":null,"versions":[{"name":"name","value":"newcompany_y_1504254241@hsgem.com","timestamp":1504254243288,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504254243288","timestamp":1504254243288,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254243288","timestamp":1504254243288,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:02 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":532989674,"properties":[{"name":"name","value":"new_name"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Sep 2017 08:24:02 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/532989674?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":532989674,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254243846","timestamp":1504254243846,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254243846","timestamp":1504254243846,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"new_name","timestamp":1504254243678,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"new_name","timestamp":1504254243678,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[]}]},"createdate":{"value":"1504254243288","timestamp":1504254243288,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254243288","timestamp":1504254243288,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:05 GMT
recorded_with: VCR 2.4.0
