---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"newcompany_y_1504254245@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":533094496,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254246905","timestamp":1504254246905,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254246905","timestamp":1504254246905,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"newcompany_y_1504254245@hsgem.com","timestamp":1504254246905,"source":"API","sourceId":null,"versions":[{"name":"name","value":"newcompany_y_1504254245@hsgem.com","timestamp":1504254246905,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504254246905","timestamp":1504254246905,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254246905","timestamp":1504254246905,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:05 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":533094496,"properties":[{"name":"name","value":"new_name"}]},{"objectId":533094497,"properties":[{"name":"name","value":"new_name"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Sep 2017 08:24:06 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/533094496?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":533094496,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254247815","timestamp":1504254247815,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254247815","timestamp":1504254247815,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"newer_name","timestamp":1504254247688,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"newer_name","timestamp":1504254247688,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[]}]},"createdate":{"value":"1504254246905","timestamp":1504254246905,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254246905","timestamp":1504254246905,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:08 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/533094497?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":533094497,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504254247751","timestamp":1504254247751,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504254247751","timestamp":1504254247751,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"new_name","timestamp":1504254247467,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"new_name","timestamp":1504254247467,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[]}]},"createdate":{"value":"1504254247157","timestamp":1504254247157,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504254247157","timestamp":1504254247157,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 08:24:08 GMT
recorded_with: VCR 2.4.0
