---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"newcompany_y_1504105330@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":531484204,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504105330713","timestamp":1504105330713,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504105330713","timestamp":1504105330713,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"newcompany_y_1504105330@hsgem.com","timestamp":1504105330713,"source":"API","sourceId":null,"versions":[{"name":"name","value":"newcompany_y_1504105330@hsgem.com","timestamp":1504105330713,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504105330713","timestamp":1504105330713,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504105330713","timestamp":1504105330713,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 30 Aug 2017 15:02:10 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":531484204,"properties":[{"name":"name","value":"new_name"}]},{"objectId":531484204,"properties":[{"name":"name","value":"new_name"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Aug 2017 15:02:11 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/531484204?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":531484204,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504105331502","timestamp":1504105331502,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504105331502","timestamp":1504105331502,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"new_name","timestamp":1504105331317,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"new_name","timestamp":1504105331317,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[]}]},"createdate":{"value":"1504105330713","timestamp":1504105330713,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504105330713","timestamp":1504105330713,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 30 Aug 2017 15:02:14 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/531301110?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":531301110,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504105331814","timestamp":1504105331814,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504105331814","timestamp":1504105331814,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"new_name","timestamp":1504105331648,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"new_name","timestamp":1504105331648,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[]}]},"createdate":{"value":"1504105331021","timestamp":1504105331021,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504105331021","timestamp":1504105331021,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 30 Aug 2017 15:02:14 GMT
recorded_with: VCR 2.4.0
