---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"test"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":532988069,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1504252680817","timestamp":1504252680817,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504252680817","timestamp":1504252680817,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"test","timestamp":1504252680817,"source":"API","sourceId":null,"versions":[{"name":"name","value":"test","timestamp":1504252680817,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504252680817","timestamp":1504252680817,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1504252680817","timestamp":1504252680817,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 01 Sep 2017 07:57:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"testingapis1504252679@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":4642024,"canonical-vid":4642024,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM9HmBh5KSgiQkd1WtdAVKARArFQlIcDdzSBiVNyAmLL71qD1dpk0YD4sbMTtXAMmLWdPx2Mo7knLGkqqTBccNxAtR5EihqNvlVDM3XJlHMx7p6_n5Q4Lge4bw3EEm-6-JqJxG0","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mM9HmBh5KSgiQkd1WtdAVKARArFQlIcDdzSBiVNyAmLL71qD1dpk0YD4sbMTtXAMmLWdPx2Mo7knLGkqqTBccNxAtR5EihqNvlVDM3XJlHMx7p6_n5Q4Lge4bw3EEm-6-JqJxG0/","properties":{"createdate":{"value":"1504252681091","versions":[{"value":"1504252681091","source-type":"API","source-id":"Contacts","source-label":null,"timestamp":1504252681091,"selected":false}]},"email":{"value":"testingapis1504252679@hubspot.com","versions":[{"value":"testingapis1504252679@hubspot.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1504252681089,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":4642024,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"testingapis1504252679@hubspot.com","timestamp":1504252681091,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"62e64bcc-db16-4134-9d26-45ad62c89beb","timestamp":1504252681096,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Fri, 01 Sep 2017 07:58:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[532988069],"associatedVids":[4642024]},"properties":[{"name":"amount","value":30}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":187422189,"isDeleted":false,"associations":{"associatedVids":[4642024],"associatedCompanyIds":[532988069],"associatedDealIds":[]},"properties":{"amount":{"value":"30","timestamp":1504252681441,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1504252681441,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1504252681441","timestamp":1504252681441,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504252681441","timestamp":1504252681441,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1504252681441","timestamp":1504252681441,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1504252681441","timestamp":1504252681441,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504252681441","timestamp":1504252681441,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1504252681441","timestamp":1504252681441,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Fri, 01 Sep 2017 07:58:00 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":187422189,"properties":[{"name":"amount","value":100}]},{"objectId":187422190,"properties":[{"name":"amount","value":120}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Sep 2017 07:58:01 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/187422189?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":187422189,"isDeleted":false,"associations":{"associatedVids":[4642024],"associatedCompanyIds":[532988069],"associatedDealIds":[]},"properties":{"amount":{"value":"120","timestamp":1504252682418,"source":"API","sourceId":"DealsBatchMutation","versions":[{"name":"amount","value":"120","timestamp":1504252682418,"sourceId":"DealsBatchMutation","source":"API","sourceVid":[]}]},"hs_analytics_source":{"value":"OFFLINE","timestamp":1504252684074,"source":"CALCULATED","sourceId":"deal
        sync triggered by vid=4642024","versions":[{"name":"hs_analytics_source","value":"OFFLINE","timestamp":1504252684074,"sourceId":"deal
        sync triggered by vid=4642024","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1504252684248","timestamp":1504252684248,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1504252684248","timestamp":1504252684248,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1504252681441","timestamp":1504252681441,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1504252681441","timestamp":1504252681441,"source":"API","sourceVid":[]}]},"createdate":{"value":"1504252681441","timestamp":1504252681441,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1504252681441","timestamp":1504252681441,"source":"API","sourceVid":[]}]},"hs_analytics_source_data_2":{"value":"","timestamp":1504252681838,"source":"CALCULATED","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_2","value":"","timestamp":1504252681838,"sourceId":"deal
        sync with no associated contacts","source":"CALCULATED","sourceVid":[]}]},"hs_analytics_source_data_1":{"value":"API","timestamp":1504252684074,"source":"CALCULATED","sourceId":"deal
        sync triggered by vid=4642024","versions":[{"name":"hs_analytics_source_data_1","value":"API","timestamp":1504252684074,"sourceId":"deal
        sync triggered by vid=4642024","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Fri, 01 Sep 2017 07:58:04 GMT
[...]
